.Button-color {
    color: #289BDE;
    border: 1px solid #289BDE;
}


.slider-Button {
    font-size: 23px;
    padding: 10px 28px;
    border-radius: 5px;
    background-color: #289BDE;
    color: #fff;
    border: none;

}



img {
    max-width: 100%;
}

.bg-image-1 {
    background-color: antiquewhite;
    height: 700px;
    padding: 100px;
    padding-bottom: 50px;
}

.bg-image-2 {
    background-color: rgb(230, 253, 17);
    height: 700px;
    padding: 100px;
    padding-bottom: 50px;

}

.bg-image-3 {
    background-color: rgb(168, 161, 167);
    height: 700px;
    padding: 100px;
    padding-bottom: 50px;
}

h4 {
    color: #289BDE;
}

.register-section {
    background-color: #289BDE;

}

.course-Button {
    font-size: 23px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #289BDE;
    color: #fff;
    border: none;

}